.camera-container{

    position:relative;

    display:inline-block;
}

#video{

    width:900px;

    border-radius:10px;
}

#overlay{

    position:absolute;

    left:0;

    top:0;

    pointer-events:none;
}